.header__burger {
    display: none;
}

@media (max-width: 767px) {
    .header__burger {
        cursor: pointer;
        display: block;
        grid-area: header_burger;
        margin-right: 27px;
        width: 24px;
    }
}