.profile__about {
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 400;
  grid-area: status;
  line-height: 1.22;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .profile__about {
    font-size: 14px;
    line-height: 1.22;
    text-align: center;
  }
}
