.profile__edit-button {
  background: url(../../../images/icons/edit.svg) no-repeat center, transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  grid-area: edit-button;
  height: 24px;
  opacity: 1;
  transition: all .2s;
  width: 24px;
}

.profile__edit-button:focus {
  outline: none;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media (max-width: 767px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
